{
  "presets": ["es2015-node"],
  "plugins": [
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./application"],
        "alias": {
          "@app": "./application/middlewares",
          "models": "./application/models",
          "constants": "./application/constants",
          "routes": "./application/routes",
          "components": "./application/components",
          "controllers": "./application/controllers",
          "config": "./application/config"
        }
      }
    ]
  ]
}
